<%- model_class = Lodge -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @lodge.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lat) %>:</strong></dt>
  <dd><%= @lodge.lat %></dd>
  <dt><strong><%= model_class.human_attribute_name(:long) %>:</strong></dt>
  <dd><%= @lodge.long %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @lodge.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= @lodge.image %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @lodge.address %></dd>
</dl>

<div class="comments"> 
  <% @lodge.comments.each do |comment| %>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/s48x48/276701_185094367962_1193477315_q.jpg" alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    <div class="email"> <%= comment.email %> </div>
      <div class="price"> <%= comment.price %> </div>
      <div class="quality"> <%= comment.quality %> </div>
      <div class="message"> <%= comment.message %> </div>
  </div>
</div>
  <% end %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              lodges_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lodge_path(@lodge), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lodge_path(@lodge),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
